@import "@/styles/all";

.container {
  border: 1px solid $grey;
  border-radius: 1rem;
  overflow: hidden;
  min-width: 20rem;
  display: flex;
  flex-direction: column;

  @include mobile {
    min-width: 100%;
  }
}

.productHeader {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.productContent {
  padding: 1rem;
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  justify-content: space-between;

  > div {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    margin-bottom: 2rem;
  }
}
