@import "@/styles/all";

.container {
  position: fixed;
  z-index: 3;
  top: 0;
  right: 0;
  left: 0;
  background-color: $light;
  box-shadow: 0 0.125rem 0.25rem rgba($dark, 0.075);
}

.content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
  height: 4rem;
  padding: 1rem;
}

.logoContainer {
  display: flex;
  align-items: center;
  gap: 0.75rem;
  text-decoration: none;
}

.rightContainer {
  display: flex;
  align-items: center;
  gap: 2rem;
}
