@import "@/styles/all";

.container {
  display: flex;
  align-items: center;
  gap: 1rem;
  button {
    margin: 0;
    height: 2rem;
    width: 2rem;
    padding: 0;
  }

  .counterText {
    min-width: 2rem;
    text-align: center;
  }
}
