// main colors
$primary: #212121;
$light: #ffffff;
$primary: #368cf2;
$lightprimary: #6541b4;
$secondary: #7e4ef7;
$accentyellow: #fec214;
$grey: #dedde0;
$darkgrey: #b9b8be;
$dark: #100a1f;
$headlinedark: #072736;
$light: #ffffff;
$greybg: #f9f6ef99;
$secondarytext: #100a1f8a;
$transparent: transparent;

// system message colors
$success: #159f91;
$danger: #ff193b;